

body{
	background-color: RGB(250, 250, 210);
};


/**************************** example-angular-product-*.html *************************/
.productName.ng-valid {
    background-color: lightgreen;
}
.productName.ng-dirty.ng-invalid-required {
    background-color: red;
}
.productName.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.email.ng-valid {
    background-color: lightgreen;
}
.email.ng-dirty.ng-invalid-required {
    background-color: red;
}
.email.ng-dirty.ng-invalid-email {
    background-color: yellow;
}

.has-error{
	color:red;
}
.container{
	padding: 10px;
}
.generic-container {
  margin: 10px;
  padding: 10px;
  background-color: #EAE7E7;
  border: 0px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}





/************* need to change name and other things  *****/
.tableData tr.opening{
	background-color: #ecedd1!important;
	background-image: url(../images/opening.gif)!important;
	background-position: 0px 0px;
	background-repeat: repeat;
}

.tableData .detailsContainer thead tr.opening span{
	background-color: #ecedd1!important;
	background-image: url(../images/opening.gif)!important;
}

.tableData tr.open{
	background-color: #e6e8d7;
	background-image: url(../images/gradient.png);
}

.tableData tbody tr.detailsContainer{
	background-color: #e5e5e5;
	background-position: left top;
	background-repeat: repeat-x;
	cursor: default;
}

input.leftButton {
	margin-right:10px;
}


/*************    *****/






/****************************  *************************/